<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.bernzomatic.com/getattachment/e58fb0b0-c3df-4bcf-b466-10d2bacd0663/Smoked-Manhattan-Cocktail.aspx?width=1000);">
  <div class="container">
    <h1><strong>Great story never began with a salad</strong></h1>
    <p>How would you start yours?</p>
    <%= link_to "Hit me!", cocktails_path, class: "btn btn-warning" %>
  </div>
</div>
