<div class="container">
  <h2 class="head text-center">Create new cocktail</h2>
  <div class="row">
    <div class="col-md-8 card-product justify-content-center my-3 mx-auto">
      <%= render 'cocktail_form', cocktail: @cocktail %>
    </div>
  </div>
</div>

