// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.far.fa-edit {
    color: $blue;
    opacity: 0.7;
    font-size: 16px;
}

.far.fa-edit:hover {
    opacity: 0.9;
}

.head {
  font-family: "Sacramento";
  font-size: 64px;
  font-weight: 500;
  margin: 20px 0;
}

.new_cocktail {
  width: 60%;
  margin: 40px auto;
  background-size: cover;
  background-position: center;
}

.new_cocktail > .btn.btn-ghost {
  background-color: white;
}

.new_cocktail > .btn.btn-ghost:hover {
  opacity: 0.7;
}
