// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fas.fa-plus {
    color: $blue;
    opacity: 0.7;
    font-size: 20px;
}

.head {
  font-family: "Sacramento";
  font-size: 64px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}
